.rendered-view p {
	margin: 0;
}

#container, #builder {
	height: 100%;
}

#preview-container {
	display: flex;
	min-height: 100%;
}

#preview-container > * {
	width: 50%;
	z-index: 1;
	overflow: scroll;
}

#preview-container iframe {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	border-left: 1px #000 solid;
}

#builder {
	position: relative;
	flex: 1;
}

#builder-header {
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e0e0e0;
}

#builder-header .mdl-tabs__tab-bar {
	border: none;
}

#builder-header-buttons {
	display: flex;
	margin-right: 7px;
}

.mdl-button.icon-button {
	display: flex;
	align-items: center;
}

.mdl-button.icon-button,
.mdl-button--icon.icon-button {
	margin-left: 7px;
}

.mdl-button.icon-button .material-icons {
	margin-right: 3px;
}

.builder-preview {
	width: 48% !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
}

#questions-edit-pane:not(.no-expand) #add-button {
	transform: scale(0);
}

#add-button {
	position: absolute;
	top: -34px;
	right: 10px;
	z-index: 1;
	transform: scale(1);
	transition: 0.2s all;
}

#edit-pane .inner {
	width: 98%;
	margin: 0 auto;
}

.draggable-item {
	display: flex;
	flex-direction: horizontal;
}

.placeholder {
	opacity: 0.2;
}

.draggable-item-inner {
	width: 100%;
}

.drag-handle {
	display: flex;
	justify-content: center;
	font-size: 0.7em;
	align-items: center;
	cursor: ns-resize !important;
	width: 20px;
	margin-right: 0px;
	background: #333;
	color: #FFF;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.draggable-question {
	margin-top: 5px;
	margin-bottom: 5px;
}

.question:not(.expanded) .mdl-card:hover {
	background: #F9F9F9;
}

.question h4 {
	margin: 0px;
	margin-right: 10px;
}

.question .mdl-card {
	min-height: 0px;
	width: 100%;
	padding: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.question.expanded > .mdl-card {
	background: #F9F9F9;
}

.question-choice {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 10px;
}

.question-choice.dragged {
	z-index: 1;
}

.question-choice .draggable-item {
	width: 100%;
}

.question-choice .mdl-card {
	display: flex;
	flex-direction: row;
}

.question-choice-content {
	display: flex;
	align-items: center
	width: 100%;
	padding: 10px;
}

.selected {
	opacity: 0;
}