html, body {
	width: 100%;
	height: 100%;
}

#main {
	padding-top: 30px;
	max-width: 800px;
	width: 95%;
	margin: auto;
	position: relative;
}

#header {
	padding-top: 30px;
}

#header h2, h4 {
	margin-top: 10px;
	text-align: center;
}

#header h3 {
	margin-top: 0;
}

#quiz-text {
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 1.1em;
}

.quiz-question {
	width: 100%;
	margin-bottom: 40px;
}

.quiz-question .question-choice .rendered-view p {
	display: inline-block;
}

.quiz-question .question-choice {
	margin-bottom: 10px;
}

.quiz-question ul {
	list-style-type: none;
	padding: 0;
}

.quiz-question li {
	margin: 6px;
	padding: 3px;
	padding-left: 6px;
}

.quiz-question .correct.material-icons {
	color: darkseagreen !important;
}

.quiz-question .incorrect.material-icons {
	color: red !important;
}

.quiz-question li label {
	display: inline;
	padding-left: 5px;
}

.quiz-question li:not(.incorrect):not(.correct) label.submitted {
	color: #999;
}

.quiz-question button {
	margin-left: 10px;
}

.quiz-question .explanation {
	margin: 10px;
	padding: 5px;
}

.rendered-view p {
	font-size: inherit;
}
.mdl-progress.complete .progressbar {
	transition: all 1s;
	background-color: darkseagreen;
}