<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-green.min.css" />
		<title>{% block title %}{% endblock %}</title>
		<script type='text/javascript'> 
			var STATIC_URL = '{{STATIC_URL}}'; 
		</script>
	</head>
	<body>
		{% csrf_token %}
		<div id='container'>
			<!-- Everything in the app is mounted here from JSX -->
		</div>
		{% block body %}{% endblock %}
		<script type='text/javascript' src='{{STATIC_URL}}/frontend/{% block scripts-bundle %}{% endblock %}'></script>
	</body>
</html>